version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/e2e"
    open-pull-requests-limit: 0
    schedule:
      interval: "daily"
