*-debug.log
*-error.log
**/.DS_Store
/.idea
dist
tmp
node_modules
oclif.manifest.json
yarn.lock
pnpm-lock.yaml
**/packages/cli-*/bin/
**/tsconfig.tsbuildinfo
.envrc

# Various SBOM Test Output Files
herodevs.report.json
herodevs.sbom.json
bom.json
sbom.json
cdx.json
spdx.json