name: CI

on:
  pull_request:
    paths-ignore:
      - '*.md'

jobs:
  commit-lint:
    name: Commit Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed # v6.2.1

  code-quality:
    name: Code Quality
    needs: commit-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Biome CLI
        uses: biomejs/setup-biome@454fa0d884737805f48d7dc236c1761a0ac3cc13 # v2.6.0
      - name: Run Biome
        run: biome ci

  shellcheck:
    name: Shell Script Linting
    needs: code-quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install ShellCheck
        run: sudo apt-get install shellcheck
      - name: Run ShellCheck
        run: shellcheck scripts/*.sh

  build-and-test:
    needs: shellcheck
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        node: [20, 22, 24]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    name: "${{matrix.platform}} w/ Node.js ${{matrix.node}}.x"
    runs-on: ${{matrix.platform}}
    env:
      GRAPHQL_HOST: ${{ secrets.NEW_GRAPHQL_HOST }}
      EOL_REPORT_URL: ${{ secrets.EOL_REPORT_URL }}
      TRACKING_OPT_OUT: true
    steps:
      - uses: actions/checkout@v5
      - name: "Use Node.js ${{matrix.node}}.x"
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{matrix.node}}.x
      - run: npm ci
      - run: npm test
      - run: npm run test:e2e
      - run: npm run build
