name: (DEMO) HeroDevs CLI Scan Docker Image

on:
  workflow_dispatch: {}

permissions:
  packages: read

env:
  TRACKING_OPT_OUT: 'true'
  CDXGEN_DEBUG_MODE: 'debug' # recommended for more verbose output from cdxgen

jobs:
  generate-sbom:
    name: Generate SBOM From Docker Image
    environment: demo
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.nvmrc'

      - name: Install cdxgen
        run: npm install -g @cyclonedx/cdxgen

      - name: Pull Docker image
        run: docker pull mcr.microsoft.com/playwright:v1.50.0-noble

      - name: Generate SBOM for Docker image
        run: cdxgen -t docker -o sbom.json -r mcr.microsoft.com/playwright:v1.50.0-noble
      
      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v7
        with:
          name: cdxgen-sbom-json
          path: sbom.json

  scan-sbom:
    name: Run HeroDevs EOL Scan
    runs-on: ubuntu-latest
    needs: generate-sbom
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.nvmrc'

      - name: Download SBOM artifact
        uses: actions/download-artifact@v7
        with:
          name: cdxgen-sbom-json
          path: .

      - name: Run EOL scan
        run: npx @herodevs/cli scan eol --file=sbom.json --save

      - name: Upload HD report
        uses: actions/upload-artifact@v7
        with:
          name: herodevs-report
          path: herodevs.report.json
