name: Runtime Tests
on:
  workflow_call:
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  via-npx:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: ['22', '23']
    name: node ${{ matrix.node }}

    steps:
      - name: uncache the tarball
        uses: actions/cache/restore@v4
        with:
          path: ./dist/apps/cli/herodevs-cli-0.0.0-local.tgz
          key: hdcli-tarball-${{ github.run_id }}

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - run: npm init -y

      - name: setup local git repo
        run: |
          git config --global user.email "test@herodevs.com"
          git config --global user.name "Github CI"
          git init
          echo "test" > test.txt
          git add .
          git commit -m "test commit"
          echo "test 2" > test.txt
          git add .
          git commit -m "test commit 2"

      - run: npm install ./dist/apps/cli/herodevs-cli-0.0.0-local.tgz

      - run: npx hd --version

      - run: npx hd report committers

  via-sea:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: ['10', '12']
    name: node ${{ matrix.node }}

    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: uncache build output
        uses: actions/cache/restore@v4
        with:
          path: ./dist/apps/cli/hdcli
          key: hdcli-sea-ubuntu-latest-${{ github.run_id }}

      - name: setup local git repo
        run: |
          git config --global user.email "test@herodevs.com"
          git config --global user.name "Github CI"
          git init
          echo "test" > test.txt
          git add .
          git commit -m "test commit"
          echo "test 2" > test.txt
          git add .
          git commit -m "test commit 2"

      - name: run the cli
        run: ./dist/apps/cli/hdcli report committers

  os:
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    name: node ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: set the executable name
        id: set-executable-name
        uses: actions/github-script@v7
        env:
          MATRIX_OS: ${{ matrix.os }}
        with:
          script: |
            const os = process.env.MATRIX_OS;
            let executableName = 'hdcli';
            if (os === 'windows-latest') {
              executableName = 'hdcli.exe';
            }
            return executableName;
          result-encoding: string

      - name: uncache build output
        uses: actions/cache/restore@v4
        with:
          path: ./dist/apps/cli/${{ steps.set-executable-name.outputs.result }}
          key: hdcli-sea-${{ matrix.os }}-${{ github.run_id }}
          enableCrossOsArchive: true

      - name: setup local git repo
        run: |
          git config --global user.email "test@herodevs.com"
          git config --global user.name "Github CI"
          git init
          echo "test" > test.txt
          git add .
          git commit -m "test commit"
          echo "test 2" > test.txt
          git add .
          git commit -m "test commit 2"

      - name: run the cli
        run: ./dist/apps/cli/${{ steps.set-executable-name.outputs.result }} report committers
